body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: OpenSansRegular, sans-serif;

}

textarea {
    resize: none;
}

#transformButton {
    margin-top: 45%;
}

.radio-div {
    margin-top: 20%;
}

#chartContainer {
    margin-top: 3%;
}

#tipContainer {
    display: none;
}