<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load staticfiles %}
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.canvasjs.min.js" %}"></script>
    <script src="{% static "js/encryption.js" %}"></script>
    <link href="{% static "css/yeti_theme.css" %}" rel="stylesheet">
    <link href="{% static "css/custom_settings.css" %}" rel="stylesheet">
    {#    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>#}
    <meta charset="UTF-8">
    <title>Encryption</title>
</head>
<body>

<div class="page-header">
    <div class="container"><h1>Please input text</h1>

        <p class="text-muted">Simply enter text you want to encrypt/decrypt and choose the Caesar's code</p></div>
</div>
<div class="container">
    <form class="form-horizontal">
        <fieldset>


            <div class="form-group">
                <div class="col-lg-5">
                    <label class="text-muted control-label" for="inputTextarea ">Your text here</label>

                    <div class="">
                        <textarea id="inputTextarea" rows="10" class="form-control" required
                                  maxlength="500"></textarea>
                    </div>
                </div>
                <div class="col-lg-2">

                    <label class="col-lg-offset-2 control-label text-muted" for="encryptTey">Code</label>

                    <div class="col-lg-10 col-lg-offset-1">
                        <select id="encryptKey" class="form-control">
                            {% for number in code_numbers %}
                                <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </select>
                        <br>

                    </div>
                    <div class="col-lg-10 col-lg-offset-1 radio-div">
                        <div class="radio">
                            <label>
                                <input type="radio" checked="" value="encrypt" id="encryptRadio" name="optionsRadios">
                                Encryption
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="decrypt" id="decryptRadio" name="optionsRadios">
                                Decryption
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1"><input id="transformButton" type="button"
                                                                  class="btn btn-primary center-block form-control"
                                                                  onClick="encryptText()" value="Transform">
                    </div>


                </div>

                <div class="col-lg-5">
                    <label class="text-muted control-label" for="resultTextarea">Transformation result</label>

                    <div class="">
                    <textarea readonly id="resultTextarea" rows="10" class="form-control" required
                              maxlength="500"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-lg-9" id="tipContainer">
                <strong class="text-warning" id="tip"></strong>

            </div>


        </fieldset>
    </form>
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>

</div>
</body>
</html>